body {
  height: 3000px;
}

.bottom-right {
  background-color: black;
  color: white;

  position: fixed;
  bottom: 20px;
  right: 20px;
}

.side-bar {
  background-color: green;
  color: white;
  width: 100px;
  font-size: 12px;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.cover-element {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: white;
  width: 500px;
  height: 200px;
  border-radius: 10px;

  padding-left: 30px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail {
  font-size: 20px;
  margin-top: 10px;
}

.close-button {
  padding: 3px 6px;
  font-size: 20px;
}