p {
  margin-top: 0;
  margin-bottom: 0;
}

.email-tag {
  font-size: 13px;
  margin-bottom: 5px;
}

.email-box {
  height: 24px;
  width: 325px;
  margin-bottom: 12px;
}

.text {
  font-size: 12px;
  margin-bottom: 28px;
}

.join-button {
  background-color: rgb(57, 119, 194);
  border: none;
  color: white;
  font-size: 16px;
  padding: 14px 110px;
  border-radius: 40px;
  cursor: pointer;
}